
*{
  margin: 0;
padding: 0;
}


.App {
  text-align: center;
  /* width: 80%; */
  margin: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  
}

/* .App > div {
  width:50%;
} */

@media all and (max-width: 900px) {

  .App {
   
    display: inline-block !important;
    justify-content: center !important;
  }

}
